#elements {
  width: 720px;
  margin: auto;
  background-color: rgba(240, 240, 240, .95);
  padding: 20px 20px;
}

#inputs {
  width: 720px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.input {
  padding: 5px 5px;
}

#description, #offCanvasWarning, #negativeRadiusWarning, #largeRadiusWarning {
  padding: 0px 20px;
  text-align: justify;
}

.offCanvasWarning, .negativeRadiusWarning, .largeRadiusWarning {
  color: red;
  display: none;
}

body {
  font-family: 'Slabo 27px', serif;
  font-size: 18px;
  letter-spacing: .5px;
  margin: 60px;
}

.button {
  background-color: darkgray;
  font-family: 'Slabo 27px', serif;
  letter-spacing: .5px;
  font-size: small;
  border-radius: 3px;
}
